<!-- views/home/list.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../header/head') %>
  </head>
  <body>
    <%- include('../header/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">매장 정보</h2>

      <h5>Market List From DataBase</h5>

      <ul>
        <% for(i = 0; i < list1.length; i++) { %>
          <li><%=list1[i].storeName %></li>
          <p><%=list1[i].storeLocation %></p>
          <% if list2[i].open==1 { %>
            <p>현재 영업중</p>
            <p><%=list2[i].currentStatus %></p>
          <% }%>
          <% else { %>
            <p>영업 종료</p>
          <% }%>
          <br>
          <br>
          <% } %>
      </ul>

    </div>
  </body>
</html>
