<!-- views/home/list.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../header/head') %>
  </head>
  <body>
    <%- include('../header/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">매장 정보</h2>

      <h5>Market List From DataBase</h5>

      <ul>
        <% for(i = 0; i < list.length; i++) { %>
          <ul>
              <li><a href="/list" class="nav-link"><%=i+1%></a></li>
              <li><%=list[i].storeName %></li>
              <li><%=list[i].storeLocation %></li>
          </tr>
          <br>
          <br>
        <% } %>
      </ul>

    </div>
  </body>
</html>
